.header {
    height:100px;
    width: 100%;
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );*/ /* IE6-9 */
}

body {
	background: url("../images/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}

 th{
border:2px solid black;
}
td {
border:1px solid black;
}

.btd {
border:1px solid transparent;
}

#lblLogo {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3.2em;
    color: black;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    text-emphasis-color: black;
    margin: 0 auto;
    max-width: 300px;
    text-align: left;
    position: relative;
    vertical-align:central;
    top: 0px;
}

#lblWelcome {
    font-family: 'Roboto Slab', serif;
    margin: 0px 0px 0px 70%;
    border: 0;
    border-radius: 2px;
    color: #665851;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}

#btnAddDC , #btnAddUser {
    background-color:black;
    color:white;
    border:1px solid black;
    border-radius:5px;
    float:right;
    font-size:25px;
    margin:0 25px 0 0;
}

#btnAddDC:hover, #btnAddUser:hover {
    background-color: white;
    color: black;
}

.btn , btnstock {
    font-family: 'Roboto Slab', serif;
    border: solid;
    border-radius: 2px;
    color: #665851;
    letter-spacing: 1px;
    cursor: pointer;
    text-align:center;
}

.btnstock {
    float: left;
    width: 100%;
    cursor:pointer;
    display:none;
    padding:10px;
    margin:0px auto;
    text-align:center;
}
.stock {
    float: left;
    width: 100%;
    cursor:pointer;
    margin:0px auto;
    border:1px solid black;
}
.stock:hover {
        background-color: black;
        color:white;
    }

#btnLogout {
    position:relative;
    top:-50px;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0px 0px 0px 2%;
}
    #btnLogout:hover {
        border:5px solid black;
    }

.menu {
    top:80px;
    z-index:9999;
    position:fixed;
    float:left;
    width: 100%;
    border:1px solid black;
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );*/ /* IE6-9 */
}

.btnMenu {
    background-color:white;
    float:left;
    width:18.36%;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0px auto;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    text-align:center;
}
.btnStkMenu {
    top:130px;
    background-color:white;
    width:23.3%;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0px auto;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    text-align:center;
    display:none;
    z-index: 9999;
    position: fixed;
    left:25%;
}
  .btnMenu:hover {
        background-color: black;
        color:white;
    }

.table {
    width:100%;
    /*background-color:antiquewhite;*/
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );*/ /* IE6-9 */
}

#divDC {
    display: none;
    margin: 0px auto;
    width: auto;
    height: 100%;
    top: 50px;
    position: relative;
}
#divPO {
    display: none;
    margin: 0px auto;
    width: auto;
    height: 100%;
    top: 50px;
    position: relative;
}

#divStock {
    position:relative;
    top:100px;
    display: none;
    margin: 0px auto;
    width: 96%;
}

#divUser {
    top: 50px;
    position: relative;
    display: none;
    margin:0px auto;
    width: 100%;
    background-color:white;
}

.shadowbox {
    color: black;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: black;
    z-index: 9999;
    opacity: 1;
}

.logindiv {
    font-family: helvetica;
    position: fixed;
    left: 500px;
    height: auto;
    width: 450px;
    background-color: #f3f7f8;
    margin: 0px auto;
    border-radius: 6px;
    border: 5px solid #e2edf1;
}

#here .fieldgroup label {
    padding: 15px 0 0;
    text-align: right;
    width: 110px;
}

#here .fieldgroup input, #register-form .fieldgroup textarea, #register-form .fieldgroup select {
    margin: 0px;
    height: 25px;
}

#here .submit {
    padding: 10px;
    width: 220px;
    height: 40px !important;
}

#here .fieldgroup label.error {
    color: #FB3A3A;
    margin: 0 0 0 80px;
    padding: 0;
    text-align: center;
    width: 300px;
    font-size: 15px;
}

.signin {
    color: #0bb998;
    top: 10px;
    margin: 0 0 0 190px;
    position: relative;
}

.signina {
    color: #0bb998;
    top: 13px;
    margin: 0 0 0 180px;
    position: relative;
}

.sinop {
    left: 28%;
    position: relative;
    color: #0eb89b;
}

.sinpas {
}

.signinOptionContainer {
    float:left;
    width: 55%;
    position: relative;
    padding: 10px;
    height: 25px;
    margin: 10px auto;
}

.signinOption {
    padding: 5px;
    position: relative;
    height: 20px;
    width: 80%;
}

.signinOptionTxt {
    text-align: center;
    padding: 5px;
    height: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0px auto;
}

.signinX {
    color: #0eb89b;
    cursor: pointer;
    height: 25px;
    border: 1px solid transparent;
    margin: 10px 10px 0 0;
    padding: 5px 5px 0 0;
    border-radius: 156px;
    background-color: #e1e1df;
    width: 25px;
    float: right;
    transition: 300ms;
}

    .signinX:hover {
        color: red;
        background-color: white;
        border: 1px solid #0eb89b;
    }

.X {
    left: 10px;
    top: 3px;
    position: relative;
}

.tabstyle {
    text-align: center;
    font-family: Tamoha;
}

.tabstyle1 {
    text-align: center;
    margin: auto auto;
    text-decoration-color:black;
}

.qty {
    cursor:pointer;
    text-align: center;
}

.txtBig {
    line-height:40px;
height:40px;
vertical-align:central;
width:100%;
}

.form {
    display: none;
    margin: 0px 0px 0px 20%;
    padding: 20px;
    width: 77.5%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0 ) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#formDC {
    display: none;
    margin: 0px auto;
    width: 96%;
}

#formStock {
    display: none;
    margin: 0px auto;
    width: 96%;
}

#formUser {
    display: none;
    margin: 0px auto;
    width: 96%;
}

.tblUser {
    border:1px solid black;
     border:1px solid black;
    margin: 0px auto;
    width: 100%;
}

.tblDC {
    border:1px solid black;
    margin: 0px auto;
    width: 100%;
}
.tblStock {
    border:1px solid black;
    margin: 0px auto;
    width: 100%;
    display:none;
}
.tblCompany {
    border:1px solid black;
    margin: 0px auto;
    width: 100%;
    display:none;
}
.divDCItems {
    font-family: helvetica;
    position: fixed;
    top: 50px;
    height:500px;
    width:700px;
    background-color: #f3f7f8;
    margin: 0px auto;
    border-radius: 6px;
    border: 5px solid #0b3849;
}

.dctext {
    width:200px;
}

.btnclose {
        background-color:red;
        border-radius:20px;
        cursor:pointer;
        width:20px;
        height:20px;
        float:right;
        text-decoration-color:white;
    }