

.header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 9999;
    border: 2px solid #2b90d9;
    top: 0px;
    left: 0px;
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );*/ /* IE6-9 */
}

body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#divBody {
    padding-left:13%;
    background-color:#ffffff;
    width:87%;
    height:100%;
}

.rpot {
    margin:5% 0 0 0;
}

.tableDesign {
	margin:0px;padding:0px;
	width:90%;
	border:1px solid #2b90d9;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tableDesign table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
}.tableDesign tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tableDesign table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tableDesign table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tableDesign tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tableDesign tr:hover td{
	background-color:#d3e9ff;
		

}
.tableDesign td{
	vertical-align:middle;
	
	background-color:#aad4ff;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
    font-size:11px;
}.tableDesign tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tableDesign tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tableDesign tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tableDesign thead th{
    background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
	background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);
	background-color:#0057af;
	border:1px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
    height:40px;
}
/*.tableDesign tr:first-child th{
		background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
	background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);
	background-color:#0057af;
	border:1px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}*/
.tableDesign tr:first-child:hover th{
	background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
	background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);

	background-color:#0057af;
}
.tableDesign tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tableDesign tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
/*tbody {
    border: 1px solid #2b90d9;
    width:68%;
    background-color: #ffffff;
}
td {
    height:40px;
    border: 1px solid #2b90d9;
}

th {
    height:40px;
    width:100%;
}

thead {
    position:fixed;
    border: 1px solid #2b90d9;
    width:68%;
    z-index:9999;
    background-color: #ffffff;
    top:11%;
    
}*/

.btd {
    border: 1px solid transparent;
    display:none;
}

#lblLogo {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3.2em;
    color: black;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    text-emphasis-color: black;
    margin: 0 auto;
    max-width: 300px;
    text-align: left;
    position: relative;
    vertical-align: central;
    top: 0px;
}

#lblWelcome {
    font-family: 'Roboto Slab', serif;
    margin: 0px 0px 0px 70%;
    border: 0;
    border-radius: 2px;
    color: #665851;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}

#btnAddDC, #btnAddUser, #btnAddStock, #btnAddPO {
    width: 7%;
    font-size: 25px;
    margin: 1% 0 0 78%;
    position: fixed;
    color: #2b90d9;
    transition: all 0.3s ease 0s;
    background: #fff;
    border: 2px solid #2b90d9;
    height: 100%;
}

    #btnAddDC:hover, #btnAddUser:hover, #btnAddStock:hover, #btnAddPO:hover {
        background: #2b90d9;
        border-color: #2b90d9;
        color: #FFFFFF;
    }

.btn, btnstock {
    font-family: 'Roboto Slab', serif;
    border: solid #2b90d9;
    border-radius: 2px;
    color: #665851;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    float: right;
    transition: all 0.3s ease 0s;
}

.btnstock {
    float: left;
    width: 100%;
    cursor: pointer;
    display: none;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
}

.stock {
    float: left;
    width: 100%;
    cursor: pointer;
    border: 1px solid #2b90d9;
    transition: all 0.3s ease 0s;
    font-size:large;
}

    .stock:hover {
        background: #2b90d9;
        border-color: #2b90d9;
        color: #FFFFFF;
    }

#btnLogout {
    position: relative;
    top: -50px;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0px 0px 0px 2%;
}

    #btnLogout:hover {
        border: 5px solid black;
    }

.menu {
    top: 60px;
    position: fixed;
    float: left;
    width: 13%;
    border: 2px solid black;
    height: 100%;
    background-color: #ffffff;
    left: 0px;
    border-color: #2b90d9;
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );*/ /* IE6-9 */
}

.btnMenu {
    float: left;
    width: 88%;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0px auto;
    border: 2px solid;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-color: #2b90d9;
    transition: all 0.3s ease 0s;
}

.btnStkMenu {
    top: 164px;
    width: 12%;
    font-family:Helvetica;
    font-weight: 200;
    font-size: 1em;
    margin: 0px auto;
    cursor: pointer;
    text-align: center;
    display: none;
    z-index: 9999;
    position: fixed;
    left: 5px;
    border-color: #2b90d9;
}

.btnMenu:hover {
    background-color: black;
    color: white;
}

.btnRpot {
    float: left;
    width: 80%;
    cursor: pointer;
    padding: 10px;
    margin: 1px auto;
    text-align: center;
    border: 1px solid #2b90d9;
    transition: all 0.3s ease 0s;
}

    .btnRpot:hover {
        background: #2b90d9;
        border-color: #2b90d9;
        color: #FFFFFF;
    }

#divDC {
    display: none;
    height: 100%;
    padding-top: 5%;
}

#divPO {
    display: none;
    height: 100%;
    top: 50px;
    position: relative;
}

#divStock {
    display: none;
    padding-top: 50px;
}

#divUser {
    top: 50px;
    position: relative;
    display: none;
}

.btnReport {
    overflow-y: scroll;
    background-color: #ffffff;
    top: 310px;
    left: 15px;
    display: none;
    position: fixed;
    width: 12%;
    height: 350px;
    z-index: 9999;
}

.report {
    padding-top: 40px;
}

.srhrpt {
    width: 10%;
    display: none;
    top: 10%;
    position: fixed;
    background-color: AppWorkspace;
    margin: 0 0 0 78%;
    height:100%;
    z-index: 9999;
    padding:2px 2px 2px 2px;
}

.shadowbox {
    color: black;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: black;
    z-index: 9999;
    opacity: 1;
}

.logindiv {
    font-family: helvetica;
    position: fixed;
    left: 500px;
    height: auto;
    width: 450px;
    background-color: #f3f7f8;
    margin: 0px auto;
    border-radius: 6px;
    border: 5px solid #e2edf1;
}

#here .fieldgroup label {
    padding: 15px 0 0;
    text-align: right;
    width: 110px;
}

#here .fieldgroup input, #register-form .fieldgroup textarea, #register-form .fieldgroup select {
    margin: 0px;
    height: 25px;
}

#here .submit {
    padding: 10px;
    width: 220px;
    height: 40px !important;
}

#here .fieldgroup label.error {
    color: #FB3A3A;
    margin: 0 0 0 80px;
    padding: 0;
    text-align: center;
    width: 300px;
    font-size: 15px;
}

.signin {
    color: #0bb998;
    top: 10px;
    margin: 0 0 0 190px;
    position: relative;
}

.signina {
    color: #0bb998;
    top: 13px;
    margin: 0 0 0 180px;
    position: relative;
}

.sinop {
    left: 28%;
    position: relative;
    color: #0eb89b;
}

.sinpas {
}

.signinOptionContainer {
    float: left;
    width: 55%;
    position: relative;
    padding: 10px;
    height: 25px;
    margin: 10px auto;
}

.signinOption {
    padding: 5px;
    position: relative;
    height: 20px;
    width: 80%;
}

.signinOptionTxt {
    text-align: center;
    padding: 5px;
    height: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0px auto;
}

.signinX {
    color: #0eb89b;
    cursor: pointer;
    height: 25px;
    border: 1px solid transparent;
    margin: 10px 10px 0 0;
    padding: 5px 5px 0 0;
    border-radius: 156px;
    background-color: #e1e1df;
    width: 25px;
    float: right;
    transition: 300ms;
}

    .signinX:hover {
        color: red;
        background-color: white;
        border: 1px solid #0eb89b;
    }

.X {
    left: 10px;
    top: 3px;
    position: relative;
}

.tabstyle {
    text-align: center;
    font-family: Tamoha;
}

.tabstyle1 {
    text-align: center;
    text-decoration-color: black;
}

.qty {
    cursor: pointer;
    text-align: center;
}

.txtBig {
    line-height: 40px;
    height: 40px;
    vertical-align: central;
    width: 100%;
}

.form {
    display: none;
    padding: 20px;
    width: 77.5%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0 ) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#formDC {
    padding-top: 50px;
    display: none;
    width: 96%;
}

#formStock {
    padding-top: 50px;
    display: none;
    width: 96%;
}

#formUser {
    padding-top: 150px;
    display: none;
    margin: 0px auto;
    width: 96%;
}

#formPO {
    padding-top: 150px;
    display: none;
    margin: 0px auto;
    width: 96%;
}

/*.tblUser {
    margin: 0px auto;
    width: 80%;
    padding-left: 12%;
}

.tblDC {
    border: 1px solid black;
    width: 60%;
}

.tblStock {
    margin: -5% 0 0 10%;
    width: 80%;
    display: none;
    padding-left: 5%;
}

.tblCompany {
    border: 1px solid black;
    margin: 0px auto;
    width: 100%;
    display: none;
}

.tblPO {
    margin: 0px auto;
    width: 80%;
    padding-left: 12%;
}*/

.divDCItems {
    font-family: helvetica;
    position: fixed;
    top: 50px;
    height: 500px;
    width: 700px;
    background-color: #f3f7f8;
    margin: 0px auto;
    border-radius: 6px;
    border: 5px solid #0b3849;
}

.dctext {
    width: 200px;
}

.btnAct {
    position: relative; 
    margin: 10px auto; 
    top: 10px; 
    width: 150px; 
    background-color: #2b90d9; 
    border: 1px; 
    border-radius: 4px; 
    cursor: pointer; 
    padding: 15px 30px 15px 30px;
    color:#ffffff;
}
    .btnAct:hover {
        background-color: #ffffff; 
        color:#2b90d9;
        border:1px solid #2b90d9;
        border-radius: 4px;
    }

.btnclose {
    background-color: red;
    border-radius: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: right;
    text-decoration-color: white;
}

.btnclose1 {
    background-color: red;
    border-radius: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: right;
    text-decoration-color: white;
}

.footer {
    background-color: #ffffff;
    width: 100%;
    z-index: 9999;
    border: 2px solid #2b90d9;
    height: 30px;
    top: 97%;
    left: 0px;
    position: fixed;
}

